flow_esp/.local_flows.json.backup
[{"id":"47b1b651.b54ea8","type":"tab","label":"BROKER","disabled":false,"info":""},{"id":"ba3339f4d3061da8","type":"tab","label":"testes","disabled":false,"info":"","env":[]},{"id":"2f9983af.f7a25c","type":"mqtt-broker","name":"BROKER ALARME","broker":"localhost","port":"1888","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"2eafb66424229c06","type":"telegram bot","botname":"@alerta_temperatura_lbi_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"none","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"e60d756765634e3d","type":"mqtt-broker","name":"publisher com senha","broker":"localhost","port":"1887","clientid":"Server","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"873e8cfa8956cb4a","type":"inject","z":"47b1b651.b54ea8","name":"Atualizar Thingsboard","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/30 0-23 * * *","once":true,"onceDelay":"0,1","topic":"","payload":"send_data_tago","payloadType":"str","x":390,"y":100,"wires":[["fd074603729071eb","fe83f8688628a623"]]},{"id":"fd074603729071eb","type":"mqtt out","z":"47b1b651.b54ea8","d":true,"name":"gravar dados no ThingsBoard","topic":"datatago","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2f9983af.f7a25c","x":690,"y":40,"wires":[]},{"id":"044cc550fd1f58f4","type":"aedes broker","z":"47b1b651.b54ea8","name":"BROKER ALERT","mqtt_port":"1888","mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":100,"y":120,"wires":[[],[]]},{"id":"76ced1d5d71da017","type":"mqtt in","z":"47b1b651.b54ea8","name":"","topic":"alarme_topic","qos":"1","datatype":"auto-detect","broker":"2f9983af.f7a25c","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":440,"wires":[["72c108dad8ce8472"]]},{"id":"1c0171d5c8c79b4c","type":"debug","z":"47b1b651.b54ea8","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":460,"wires":[]},{"id":"72c108dad8ce8472","type":"function","z":"47b1b651.b54ea8","name":"filtro_de_payload","func":"\n\nvar payload = {    \n    \"alerta\": msg.payload.details,\n    \n};\n\nmsg.payload = payload;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":440,"wires":[["9ae1898765f6db50"]]},{"id":"9ae1898765f6db50","type":"function","z":"47b1b651.b54ea8","name":"telegram_format","func":"let texto = msg.payload.alerta.toString()\nmsg.payload = {};\nmsg.payload.chatId = 1582914975\nmsg.payload.type= 'message'\nmsg.payload.content = texto\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":400,"wires":[["e772f0bae3d3c32a","1c0171d5c8c79b4c"]]},{"id":"e772f0bae3d3c32a","type":"telegram sender","z":"47b1b651.b54ea8","d":true,"name":"bot alert test","bot":"2eafb66424229c06","haserroroutput":false,"outputs":1,"x":870,"y":380,"wires":[[]]},{"id":"5028be12b7fce378","type":"function","z":"47b1b651.b54ea8","name":"Dispositivo desconectado","func":"var t = msg.topic;\nvar disp = msg.payload.client.id;\n\nif (t == 'clientDisconnect') {\n    return { payload: \"Dispositivo \" + disp + \" desconectado\" };\n\n}\n\nif (t == 'clientReady') {\n    return { payload: \"Dispositivo \" + disp + \" conectado!\" };\n\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":240,"wires":[["f27c9ccf675cf52b"]]},{"id":"f27c9ccf675cf52b","type":"function","z":"47b1b651.b54ea8","name":"dispositivo desconect","func":"\n\nvar payload = {    \n    \"alerta\": msg.payload,\n    \n};\n\nmsg.payload = payload;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":300,"wires":[["9ae1898765f6db50"]]},{"id":"6358f4776acec477","type":"aedes broker","z":"47b1b651.b54ea8","name":"BROKER senha","mqtt_port":"1887","mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":120,"y":280,"wires":[["5028be12b7fce378"],[]]},{"id":"fe83f8688628a623","type":"mqtt out","z":"47b1b651.b54ea8","name":"gravar dados no ThingsBoard","topic":"datatago","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e60d756765634e3d","x":730,"y":100,"wires":[]},{"id":"b38aa7d1934eb308","type":"inject","z":"ba3339f4d3061da8","name":"Atualizar Thingsboard","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"0,1","topic":"","payload":"send_data_node","payloadType":"str","x":260,"y":100,"wires":[["e1c7eb3b9af38c40"]]},{"id":"304e892fd62d6306","type":"mqtt in","z":"ba3339f4d3061da8","name":"temperatura","topic":"device/temperatura","qos":"2","datatype":"auto-detect","broker":"e60d756765634e3d","nl":false,"rap":true,"rh":0,"inputs":0,"x":210,"y":320,"wires":[["bb067a60b73b0377"]]},{"id":"f07223f12027cee8","type":"function","z":"ba3339f4d3061da8","name":"telegram_format","func":"let texto = msg.payload.toString()\nmsg.payload = {};\nmsg.payload.chatId = 1582914975\nmsg.payload.type= 'message'\nmsg.payload.content = texto\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":320,"wires":[[]]},{"id":"e1c7eb3b9af38c40","type":"mqtt out","z":"ba3339f4d3061da8","name":"gravar dados no ThingsBoard","topic":"datanode","qos":"0","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e60d756765634e3d","x":710,"y":100,"wires":[]},{"id":"bb067a60b73b0377","type":"debug","z":"ba3339f4d3061da8","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":540,"y":400,"wires":[]},{"id":"9fa42fac10288a94","type":"telegram sender","z":"ba3339f4d3061da8","d":true,"name":"bot alert test","bot":"2eafb66424229c06","haserroroutput":false,"outputs":1,"x":790,"y":480,"wires":[[]]}]